
.loading-container {
    min-height: 100vh;
}

.search-box {
    margin: 10px 5px;
    padding: 10px;
    background-color: rgb(229, 246, 221);
    border-radius: 5px;
    input {
        padding: 5px;
        font-size: 16px;

    }
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(6, 86, 6)!important;
}
