:host {
    height: 100%;
    .prod-card {
        position: relative;
        height: 85%;
        margin: 5px;
        margin-bottom: 50px;
        background-color: rgb(229, 246, 221);
        color:rgb(6, 86, 6);
        .title {
            font-weight: 500;
        }
        .description {
            font-size: 14px;
        }
        .img-responsive {
            max-width: 100%;
            max-height: 100%;
        }
        .top-corner {
            position: absolute;
            right: 16px;
            top: 16px;
        }

        .badge {
            display: inline-block;
            padding:5px;
            width: 40px;
            text-align: center;
            font-size: large;
            color: #fff;
            background-color: green;
            border-radius: 0px;
        }
        .footer {
            position: absolute;
            bottom: 16px;
            right: 16px;
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            color: green;
            background-color: greenyellow;
            padding-left: 10px;
            align-items: center;
            justify-content: flex-end;

            .add-to-cart-container {
                button {
                    background-color: green;
                    border: 1px solid;

                    border-radius: 5px;
                    color: #fff;
                }
                button:hover {
                    background-color: rgb(6, 86, 6);
                    cursor: pointer;
                }
            }
            .price-container {
                font-weight: 500;
                padding-right: 5px;
            }
        }
    }
}
