<mat-card *ngIf="!!item && !!item.id" class="prod-card">
	<div class="top-corner">
		<span class="badge">{{ item?.discount }}%</span>
	</div>
	<img [src]="item?.defaultImage" alt="" class="img-responsive" />
	<div class="">
		<h3 class="title">{{ item?.name }}</h3>
		<h5 class="description">{{ item?.description }}</h5>
	</div>
	<div class="footer">
		<div class="price-container">{{ item?.price | currency }}</div>
		<div class="add-to-cart-container">
			<button (click)="addToCart(item)" class="">
				<mat-icon>shopping_cart</mat-icon>
			</button>
		</div>
	</div>
</mat-card>
