<div *ngIf="!(cartDetailedItems$ | async)?.length" class="cart">
	<div class="no-cart-message">The Cart is Empty</div>
</div>

<div class="cart" *ngIf="!!(cartDetailedItems$ | async)?.length">
	<div class="total_amount">
		<div>Total:</div>
		<div>
			{{ totalPrice | currency }}
		</div>
	</div>
	<div *ngFor="let item of cartDetailedItems$ | async" class="item">
		<div>{{ item.name }}</div>
		<div>
			<span class="item-qty">
				{{ item.quantity }}
			</span>
			<button (click)="removeQty(item)">
				<mat-icon>remove</mat-icon>
			</button>
			<button (click)="addQty(item)">
				<mat-icon>add</mat-icon>
			</button>
			<button (click)="removeItem(item)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
</div>
